* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.modal {
    overflow: scroll;
}

.startModal {
    padding-top: 156px;
}

.customProgeress {
    padding: 0 30px;
}
.lose-image>img{
    width: 578px;
    border-radius: 15px;
}

.content {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* kich thuoc cua anh*/
.card > div > img {
    width: 150px;
    border-radius: 10px;
}

/*dinh vi tri cac quan bai*/
.card {
    position: relative;
    display: table;
    margin: 3px;
    padding-bottom: 10px;
}

.card .back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.card.flipped .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card.flipped .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .front, .card .back {
    transition: all 0.5s;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card img:hover, .flipped img {
    box-shadow: 0 0 15px 5px rgba(199, 240, 240, 0.75);
}

.game-mode-title {
    text-align: center;
    font-size: 22px;
}

.game-mode-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-mode > button {
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.victoryBlock {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}

.win {
    display: flex;
    flex-direction: column;
}

.win > img {
    width: 598px;
}
